/*
RMIT University Vietnam 
Course: COSC2430 Web Programming 
Semester: 2023B 
Assessment: Assignment 1 
Author: Nguyen Phuc Nguyen
ID: s4025306
Acknowledgement: Color pallete - https://colorhunt.co/palette/f9f5ebe4dccfea5455002b5b 
*/

* {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: #002B5B;
}

body {
	background-color: #F9F5EB;
}

.category-title h2 a {
	width: 20%;
	margin: auto;
	padding: 0.5em;
	text-align: center;
	font-size: 1.5em;
	color: #002B5B;
	font-weight: 500;
	font-family: 'Roboto Serif', serif;
}

.category-title h2 a:hover, .category-title h2 a:active{
	color: #EA5455;	
}

.book-display h3:hover, .book-display h3:active{
	color: #EA5455;	
}

a:link, a:visited {
	text-decoration: none;
}

header {
	display: flex;
	background-color: #002B5B;
	box-shadow: 0px 1px 2px 1px #bcc0cc;
}

footer {
	background-color: #002B5B;
	box-shadow: 0px -1px 2px 1px #bcc0cc;
}

footer a {
	color: #F9F5EB;
}

#logo {
	width: 220px;
	padding: 1em;
	margin: auto;
}

.book-category, .book-image, .book-title {
	padding: 0.5em;
	margin: 0.5em;
	text-align: center;
}

.book-image img {
	max-height: 250px;
}

.book-display {
	display: flex;
	justify-content: space-around;
	background-color: #E4DCCF;
	padding: 0.5em;
}

.book-title {
	max-width: 180px;
	margin: auto;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0.5em;
	width: 100%;
	color: #EA5455;
}

nav a:hover, nav a:active {
	color: #EA5455;
}

